.nav {
  padding: 2rem 1.6rem;
  border-bottom: 1px solid #eaeaea;
  background-color: #fff;
  position: sticky;
  font-size: 16px;
  font-weight: 700;
}

.list {
  display: flex;
  justify-content: space-between;
}
